<div class="m-portlet__body">
  <div class="row">
    <div class="col-md-12">
      <h6 class="font-weight-bold">Personal Info</h6>
      <hr />
    </div>
    <div class=" row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Name</div>
      <div class="col-md-2">John Doe</div>
    </div>
    <div class=" row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">E-Mail</div>
      <div class="col-md-2">mosesSuccess@gmail.com</div>
    </div>
    <div class="row col-md-12 pb-4">
      <div class="col-md-2 customerInfo">Phone</div>
      <div class="col-md-2">02455443</div>
    </div>

    <div class="col-md-12">
      <h6 class="font-weight-bold">Address Info</h6>
      <hr />
    </div>

    <div class="row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Country</div>
      <div class="col-md-2">Ghana</div>
    </div>
    <div class="row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Town</div>
      <div class="col-md-2">Asaman Kese</div>
    </div>
    <div class="row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Street</div>
      <div class="col-md-2">KT-990</div>
    </div>
    <div class="row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Zip</div>
      <div class="col-md-2">455554</div>
    </div>
    <div class="row col-md-12 pb-3">
      <div class="col-md-2 customerInfo">Tour Days</div>
      <div class="col-md-2">Monday, Tuesday</div>
    </div>
  </div>
</div>
