<div class="row">
  <div class="col-md-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Company Details
            </h3>
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="actions"
          [routerLink]="['/admin/form']"
        >
          <mat-icon aria-hidden="false">edit</mat-icon>&nbsp; Edit Details
        </button>
      </div>
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-md-12">
            <h6 class="font-weight-bold">Personal Info</h6>
            <hr />
          </div>
          <div class=" row col-md-12 pb-3">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">{{ companyDetails.name }}</div>
          </div>
          <div class=" row col-md-12 pb-3">
            <div class="col-md-2 ">E-Mail</div>
            <div class="col-md-2">{{ companyDetails.email }}</div>
          </div>
          <div class="row col-md-12 pb-4">
            <div class="col-md-2 ">Phone</div>
            <div class="col-md-2">{{ companyDetails.phone }}</div>
          </div>

          <div class="col-md-12">
            <h6 class="font-weight-bold">Address Info</h6>
            <hr />
          </div>

          <div class="row col-md-12 pb-3">
            <div class="col-md-2 ">Country</div>
            <div class="col-md-2">{{ companyDetails.country }}</div>
          </div>
          <div class="row col-md-12 pb-3">
            <div class="col-md-2 ">Town</div>
            <div class="col-md-2">{{ companyDetails.town }}</div>
          </div>
          <div class="row col-md-12 pb-3">
            <div class="col-md-2 ">Street</div>
            <div class="col-md-2">{{ companyDetails.street }}</div>
          </div>
          <div class="row col-md-12 pb-3">
            <div class="col-md-2 ">Zip</div>
            <div class="col-md-2">{{ companyDetails.zip }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
