<div class="row">
  <div class="container">
    <div>
      <div class="m-portlet">
        <div class="m-portlet__body">
          <mat-tab-group>
            <mat-tab label="Customer Details">
              <app-customer-details-customer-details></app-customer-details-customer-details>
            </mat-tab>

            <mat-tab label="Open Invoices">
              <app-customer-details-open-invoice></app-customer-details-open-invoice>
            </mat-tab>
            <mat-tab label="Closed Invoices">
              <app-customer-details-closed-invoices></app-customer-details-closed-invoices
            ></mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
